/EnergyStorage_2023_s1/data
/EnergyStorage_2023_s1/venv
/EnergyStorage_2023_s1/__pycache__
/EnergyStorage_2023_s1/.idea
/EnergyStorage_2023_s1/PHES_Statistics/Australia_2GWh_6h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_5GWh_6h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_5GWh_18h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_15GWh_6h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_15GWh_18h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_50GWh_6h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_50GWh_18h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_150GWh_18h.csv
/EnergyStorage_2023_s1/PHES_Statistics/Australia_162.8.xlsx
/.idea
